@CHARSET "ISO-8859-1";


a {
	text-decoration: none;
}

a.bouton {
	display: block;
	display: inline-block;
	background-color: silver;
	color: black;
	width: inherit;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
}

.cellule {
	display: table-cell;
	height: 2em;
	width: 2em; 
	color: black;
}

.cellule_titre {
	height: 2em;
	width: 2em;
}

.cellule_titre_dimanche {
	color: red;	
}

.cellule_semaine {
	display: table-cell;
	heigth: 2em;
	width: 7em;
	font-size: xx-small;
}

.cellule_titre_semaine {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-size: large;
}

.cellule_dimanche {
	
}

.fondcolore {
	background-color: red;
}

.erreur {
	color: red;
}