@CHARSET "ISO-8859-1";


a.bouton {
	display: block;
	display: inline-block;
	background-color: silver;
	color: black;
	width: inherit;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
}

a.cellule {
	height: 1em;
	width: 1em;
	background-color: red;
}

.cellule_titre {
	height: 1em;
	width: 1em;
}

.cellule_titre_dimanche {
	color: red;	
}



.cellule_dimanche {
	
}

.fondcolore {
	background-color: red;
}