@CHARSET "ISO-8859-1";

a.cellule {
	height: 1em;
	width: 1em;
	background-color: red;
}

.cellule_titre {
	height: 1em;
	width: 1em;
}

.cellule_titre_dimanche {
	color: red;	
}



.cellule_dimanche {
	
}

.fondcolore {
	background-color: red;
}